:root{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#padding{
    padding: 70px 0px;
    
}

.parallax {
    background-image: url("blue-gradient-with-dynamic-blended-line-design-vector.webp");
    background-attachment: fixed;
    background-size: cover;
}
#page{
    border-radius: 40px;
    background-color: #273344;
    
    
}

.hero{
    height: 500px;
    display: flex;
    align-items: center;
}

.btn-round{
    border-radius: 20px;
    border-width: 2px;
}

.footer{
    height: 50px;
}

section,h2,h3{
    margin: 20px;
}
h3{
    margin: 100px 50px 100px 50px;

}

#nihal{
    color: #0ffbfd;
}

#nhlimg{
    
    
        border: 5px solid #156bec;    
       
}
